{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-maparea" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
  <div class="container-fluid">
    {%if not(maparea_apikey) %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> Для отображения карты укажите ваш ключ API Яндекс.Карт. <a href="https://developer.tech.yandex.ru/" target="_blank">Получить ключ</a>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
	{% endif %}
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-maparea" class="form-horizontal">
          <ul class="nav nav-tabs">
            <li><a href="#common" data-toggle="tab">Общие настройки</a></li>
            <li class="active"><a href="#maps" data-toggle="tab">Районы и цены</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane" id="common">
			
			  <div class="form-group">
				<label class="col-sm-2 control-label" for="input-tax-class">{{ entry_tax_class }}</label>
				<div class="col-sm-10">
				  <select name="maparea_tax_class_id" id="input-tax-class" class="form-control">
					<option value="0">{{ text_none }}</option>
					{% for tax_class in tax_classes %}
					<option value="{{ tax_class.tax_class_id }}" {%if tax_clas.stax_class_id == maparea_tax_class_id %}selected="selected"{% endif %}>{{ tax_class.title }}</option>
					{% endfor %}
				  </select>
				</div>
			  </div>
			  <div class="form-group">
				<label class="col-sm-2 control-label" for="input-geo-zone">{{ entry_geo_zone }}</label>
				<div class="col-sm-10">
				  <select name="maparea_geo_zone_id" id="input-geo-zone" class="form-control">
					<option value="0">{{ text_all_zones }}</option>
					{% for geo_zone in geo_zones %}
					<option value="{{ geo_zone.geo_zone_id }}" {%if geo_zone.geo_zone_id == maparea_geo_zone_id %}selected="selected"{% endif %}>{{ geo_zone.name }}</option>
					{% endfor %}
				  </select>
				</div>
			  </div>
			  <div class="form-group">
				<label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
				<div class="col-sm-10">
				  <select name="maparea_status" id="input-status" class="form-control">
					{%if maparea_status %}
					<option value="1" selected="selected">{{ text_enabled }}</option>
					<option value="0">{{ text_disabled }}</option>
					{% else %}
					<option value="1">{{ text_enabled }}</option>
					<option value="0" selected="selected">{{ text_disabled }}</option>
					{% endif %}
				  </select>
				</div>
			  </div>
			  <div class="form-group">
				<label class="col-sm-2 control-label" for="input-sort-order">Ключ API Яндекс.Карт:</label>
				<div class="col-sm-10">
				  <input type="text" name="maparea_apikey" value="{{ maparea_apikey }}" id="input-apikey" class="form-control" />
				  <a href="https://developer.tech.yandex.ru/" target="_blank">получить ключ</a>
				</div>
			  </div>			  
			  <div class="form-group">
				<label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
				<div class="col-sm-10">
				  <input type="text" name="maparea_sort_order" value="{{ maparea_sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
				</div>
			  </div>
			  <div class="form-group">
				<label class="col-sm-2 control-label" for="input-sort-order">{{ entry_show_map }}</label>
				<div class="col-sm-10">
				  <select name="maparea_show_map" class="form-control">
				  <option value="1" {% if maparea_show_map %}selected{% endif %}>{{ text_yes }}</option>
				  <option value="0" {% if not(maparea_show_map) %}selected{% endif %}>{{ text_no }}</option>
				  </select>
				  <span style="color: red;">Для отображения карты требуется добавить JavaScript на страницу оформления заказа:</span><br>
				  <code>&lt;script src="https://api-maps.yandex.ru/2.1/?apikey=<b>Ваш-ключ-API</b>&lang=ru_RU"&gt;&lt;/script&gt;</code>
				</div>
			  </div>

            </div>
			
            <div class="tab-pane active" id="maps">
			<div style="color: red;">Район без координат - это доставка по-умолчанию, на всю географическую зону. Убедитесь, что у него максимальный порядок сортировки.</div><br>
			{% if maparea_map.points %} 
			{% for i,pt in maparea_map.points %}
			<div class="area-block row" style="margin-bottom: 20px;">
				<div id="map_{{ i }}" class="col-sm-8 map" style="height: 400px;"></div>
				<div class="col-sm-4">
				  <div class="form-group">
					<label class="col-sm-6 control-label" for="input-sort-order">{{ entry_on}}</label>
					<div class="col-sm-3">
					  <select name="maparea_map[on][]" class="form-control">
					  <option value="1"{% if maparea_map.on[i] %} selected{% endif %}>{{ text_yes }}</option>
					  <option value="0"{% if not(maparea_map.on[i]) %} selected{% endif %}>{{ text_no }}</option>
					  </select>
					</div>
					<div class="col-sm-3">
					  <a title="{{ text_delete_area }}" class="delete-area btn btn-danger pull-right" href="javascript:void(0);"><i class="fa fa-trash"></i></a>
					</div>
				  </div>
				  <div class="form-group">
					<label class="col-sm-6 control-label">{{ entry_area_name }}</label>
					<div class="col-sm-6">
					  <input type="text" name="maparea_map[name][]" value="{{ maparea_map.name[i] }}" class="form-control" />
					</div>
				  </div>
				  <div class="form-group">
					<label class="col-sm-6 control-label">{{ entry_price }}</label>
					<div class="col-sm-6">
					  <input type="text" name="maparea_map[price][]" value="{{ maparea_map.price[i] }}" class="form-control" />
					</div>
				  </div>
				  <div class="form-group">
					<label class="col-sm-6 control-label">{{ entry_points }}</label>
					<div class="col-sm-6">
					  <textarea name="maparea_map[points][]" class="area-points form-control" rows="3">{{ maparea_map.points[i] }}</textarea>
					</div>
				  </div>
				  <div class="form-group">
					<label class="col-sm-6 control-label">{{ entry_sort_order }}</label>
					<div class="col-sm-6">
					  <input type="text" name="maparea_map[sort_order][]" value="{{ maparea_map.sort_order[i] }}" class="form-control" />
					</div>
				  </div>
				</div>
			</div>
			{% endfor %}
			{% endif %}
			
			<a id="addMap" class="btn btn-primary" href="javascript:void(0);">{{ entry_add_area }}</a>
			<div id="map_seed" class="area-block row" style="display: none; margin-bottom: 20px;">
				<div class="col-sm-8 map" style="height: 400px;"></div>
				<div class="col-sm-4">
				  <div class="form-group">
					<label class="col-sm-6 control-label" for="input-sort-order">{{ entry_on }}</label>
					<div class="col-sm-3">
					  <select name="maparea_map[on][]" class="form-control">
					  <option value="1">{{ text_yes }}</option>
					  <option value="0">{{ text_no }}</option>
					  </select>
					</div>
					<div class="col-sm-3">
					  <a title="{{ text_delete_area }}" class="delete-area btn btn-danger pull-right" href="javascript:void(0);"><i class="fa fa-trash"></i></a>
					</div>
				  </div>
				  <div class="form-group">
					<label class="col-sm-6 control-label">{{ entry_area_name }}</label>
					<div class="col-sm-6">
					  <input type="text" name="maparea_map[name][]" value="" class="form-control" />
					</div>
				  </div>
				  <div class="form-group">
					<label class="col-sm-6 control-label">{{ entry_price }}</label>
					<div class="col-sm-6">
					  <input type="text" name="maparea_map[price][]" value="" class="form-control" />
					</div>
				  </div>
				  <div class="form-group">
					<label class="col-sm-6 control-label">{{ entry_points }}</label>
					<div class="col-sm-6">
					  <textarea name="maparea_map[points][]" class="area-points form-control" rows="3"></textarea>
					</div>
				  </div>
				  <div class="form-group">
					<label class="col-sm-6 control-label">{{ entry_sort_order }}</label>
					<div class="col-sm-6">
					  <input type="text" name="maparea_map[sort_order][]" value="" class="form-control" />
					</div>
				  </div>
				</div>
			</div>
			
            </div>
			
          </div>
		  <input type="hidden" name="maparea_set" value="1" />
        </form>  
      </div>
    </div>
  </div>
</div>
<script src="https://api-maps.yandex.ru/2.1/?apikey={{ maparea_apikey }}&lang=ru_RU"></script>
<script type="text/javascript"><!--
$(document).ready(function() {
	
$('#maps').on('click', '.delete-area', function() {
	$(this).parents('.area-block').remove();
	return false;
})

$('#form-maparea').submit(function() {
	$('#map_seed').remove();
})
	
ymaps.ready(init);

function init() {
	var i = {% if maparea_map.points %}{{ maparea_map.points|length }}{% else %}0{% endif %};
	$('#addMap').click(function() {
		var map_div = $('#map_seed').clone();
		map_div.removeAttr('id');
		$('#addMap').before(map_div);
		i++;
		map_div.find('.map').attr('id', 'map_'+i.toString());
		map_div.show();
		initMap('map_'+i.toString(), []);
		return false;
	})
	
{% if maparea_map.points %} 
{% for i,pt in maparea_map.points %}
		initMap('map_{{ i }}', [{{ pt }}]);
{% endfor %}
{% endif %}
}

function initMap(mapId, points) {
	
	
    var myMap = new ymaps.Map(mapId, {
        center: [55.73, 37.75],
        zoom: 10
    });
	var pts = [];
	var j=0;
	while (j<points.length) {
		pts.push([points[j], points[j+1]]);
		j+= 2;
	}

	var myPolygon = createPolygon(myMap, pts, mapId);
	
	if (!points.length) {
		ymaps.geolocation.get({
			// Выставляем опцию для определения положения по ip
			provider: 'yandex',
			// Карта автоматически отцентрируется по положению пользователя.
			mapStateAutoApply: true
		}).then(function (result) {
			myMap.geoObjects.add(result.geoObjects);
			
		});
	}
	else {
		var bounds = myPolygon.geometry.getBounds();
		myMap.setBounds(bounds, { checkZoomRange: false });
	}
}

function createPolygon(myMap, pts, mapId) {
	// Создаем многоугольник
	var myPolygon = new ymaps.Polygon([pts], {}, {
		// Курсор в режиме добавления новых вершин.
		editorDrawingCursor: "crosshair",
		// Максимально допустимое количество вершин.
		editorMaxPoints: 1000,
		// Цвет заливки.
		fillColor: '#00FF004F',
		// Цвет обводки.
		strokeColor: '#0000FF',
		// Ширина обводки.
		strokeWidth: 2
	});

	myPolygon.geometry.events.add('change', function () {
	   $('#'+mapId).parents('.area-block').find('.area-points').val(myPolygon.geometry.getCoordinates().toString()); 
	});

	// Добавляем многоугольник на карту.
	myMap.geoObjects.add(myPolygon);


	// В режиме добавления новых вершин меняем цвет обводки многоугольника.
	var stateMonitor = new ymaps.Monitor(myPolygon.editor.state);
	stateMonitor.add("drawing", function (newValue) {
		myPolygon.options.set("strokeColor", newValue ? '#FF0000' : '#0000FF');
	});

	// Включаем режим редактирования с возможностью добавления новых вершин.
	myPolygon.editor.startDrawing();
	
	return myPolygon;
}

})
//--></script>
{{ footer }}
